<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hk.base">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.hk.library.BaseApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.hk.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hk.ui.HKSpinnerActivity">
        </activity>
        <activity android:name="com.hk.ui.RoundCornerTabLayoutActivity">
        </activity>
        <activity android:name="com.hk.ui.MvpActivity">
        </activity>
        <activity android:name="com.hk.ui.CollapsingToolbarLayoutActivity">
        </activity>
        <activity android:name="com.hk.ui.GlideActivity">
        </activity>
        <activity android:name="com.hk.ui.SearchViewActivity">
        </activity>
        <activity
            android:name="com.hk.ui.SmartRefreshLayoutActivity"
            android:label="SmartRefreshLayout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.hk.ui.NestedScrollViewActivity">
        </activity>
    </application>

</manifest>